@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&family=Righteous&display=swap');

  /* font-family: 'Open Sans', sans-serif;
font-family: 'Righteous', cursive; */

/* Global tag */

*{
    box-sizing: border-box;
    text-decoration: none;
    transition: all .2s linear;
    list-style: none;
    color: #fff
}

html{
    font-size: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-width: 376px;
}

body{
    margin: 0;
    padding: 0;
    font-size: 1.125rem;
    overflow-x: hidden;
    background: rgb(0, 0, 15);
    max-width: 1029px;
    margin: 0 auto;
    
}
img{
   max-width: 100%; 
}
/* end of Global tag */

.show{
    display: block;
}


/* my first container */
.first_container{
    width: 100%;
    position: fixed;
    min-height: 15px;
    background-color: #000;
}

.intro_section{
    padding-top: 4rem;
}


/* end of my first container */


/* mobile nav */
.Logo{
    font-family: 'Righteous', cursive;
    font-weight: 800;
    color: #fff;
}

nav{
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0 auto;
    position: relative;
}

.hide{
    display: none;
}

.list_item{
    text-align: center;
    padding: 0;
    width: 60%;
    margin-top: 50px;
    background-color: #000;
    border: 1px solid orange;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    transition: all 0.5s ease;
}

.item{
    color: #fff;
    transition: 20ms ease-in-out
}

.item:hover{
    color: orange;
}

li{
    padding: 5px 0;
    font-family: 'Open Sans', sans-serif;
}

.burger div{
    align-items: center;
    height: 2px;
    width: 30px;
    margin: 5px;
    background-color: #fff;
    transition: all 0.5s ease;
  }

/* end of nav */

/* Second container */
.second_container{
    margin-top: 30px;
}

.intro_section{
    width: 90%;
    margin: 0 auto;
}

.intro{
    color: orange;
}

h1{
    font-size: 3rem;
    margin: 0;
    line-height: .9;
    font-family: 'Righteous', cursive;
    color: #fff;
}

p{
    font-size: 1.1rem;
    margin: 0;
    font-family: 'Righteous', cursive;
    padding-bottom: 30px;
    color: #fff;
}

.name{
    color: orange;
    font-family: 'Righteous', cursive;
}
.btn{
    padding: 8px 30px;
    background-color: #000;
    border-radius: 20px;
    border: 2px solid orange;
    margin-right: 10px;
    color: orange;
    transition: 200ms ease-in-out;
}


.btn:hover{
    padding: 8px 30px;
    background-color: orange;
    border: 3px solid orange;
    margin-right: 10px;
    color: #fff;
}

.link{
    display: flex;
    width: 90%;
}

.contact_info p{
    color: orange;
}

.contact_info{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    color: orange;
}

.fill{
    margin-bottom: 30px;
}

.aboutMe{
    color: orange;
}

.my_image{
    max-width: 40%;
    min-height: 50px;
    border-radius: 100%;
}
/* end of my second container */

/* third container */

.third_container{
    text-align: center;
    width: 90%;
    margin: 130px auto auto;
}


h2{
    text-decoration: underline;
}


main{
    display: flex;
    flex-direction: column;
    gap: 50px;
}


.airbnb{
    text-align: left;
    padding: 5px;
    color: orange;
}


.D-jukebox{
    text-align: left;
    padding: 5px;
    color: orange;
}


.AirBnB{
    height: 200px;
}

.JukeBox{
    height: 200px;
}

.grid{
    max-height: 50%;
    width: 100%;
}

.airbnb_link{
    color: blue;
    text-decoration: underline;
}

.ReadMore{
    font-size: .8rem;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #fff;
   display: block;
   text-align: left;
   padding-top: 5px;
}

.ReadMore:hover{
    transform: scale(.95);
    text-decoration: underline;
}

.content{
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: .8rem;
    padding-top: 5px;
    padding-bottom: 2px;
    color: orange;
}
/* end of third container */


/* fourth container */
.fourth_container{
   
    margin-top: 100px;
    color: #fff;
}


.fourth{
    width: 90%;
    text-align: center;
    margin: 0 auto;
 
}


.fourth p{
    font-family: 'Open Sans', sans-serif;;
}


/* end of fourth container */


/* form template */
.form{
    text-align: center;   
}


form{
    width: 90%;
    margin: 0 auto;
    background: transparent;
    box-shadow: 0 0 20px 0 #110;;
    padding-bottom: 30px;
}

.input-field{
    width: 300px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
}

.form_btn{
    margin-top: 20px;
}


.textarea-field{
    height: 150px;
    padding-top: 10px;
}

.social2{
    margin-top: 50px;
}


.social_icon{
    padding-right: 8px;
}

svg path{
    fill: #fff;
    transition: 100ms ease-in;
}

svg path:hover{
    fill: orange;
}
/* end of template */

/* Blogs */

.My_Blogs{
    width: 90%;
    padding-top: 40px;
    text-align: center;
    margin: 0 auto;
}

.blogs{
    font-family: 'Open Sans', sans-serif;
    font-size: .8rem;
    color: orange;
}


.blogs h3{
    color: orange;
}


.blog_link{
    color: #fff;
}

.blog_link:hover{
    text-decoration: underline;
}


/* end of blogs */


ul.list{
    display: flex;
    width: 100%;
    padding: 0;
    margin: 30px auto;
    justify-content: space-between;
    align-items: center;
    font-size: .8rem;
}


/* breakpoints */

@media (min-width: 672px) {


   .intro_section{
    width: 90%;
    margin: 0 auto;
}


.main{
    display: flex;
    flex-direction: row;
}

.test{
    width: 100%;
}



nav{
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    margin: 0 auto;
}

   .My_Blogs{
    width: 90%;
    padding-top: 40px;
    text-align: center;
    margin: 0 auto;
}



/* form template */
.form{
    text-align: center;
    margin-top: 80px;
}

form{
    width: 90%;
    margin: 0 auto;
    background: transparent;
    box-shadow: 0 0 20px 0 #110;;
    padding-bottom: 30px;
}

.input-field{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
}

.form_btn{
    margin-top: 20px;
}

.first_container{
    position: fixed;
}

.textarea-field{
    height: 150px;
    padding-top: 10px;
}

.social2{
    margin-top: 50px;
}


ul.list{
    display: flex;
    width: 100%;
    margin: 30px auto;
    justify-content: space-between;
    align-items: center;
}

.social_icon{
    padding-right: 8px;
}

svg path{
    fill: #fff;
    transition: 100ms ease-in;
}

svg path:hover{
    fill: orange;
}
/* end of template */


.fourth{
    width: 90%;
    text-align: center;
    margin: 0 auto;
 
}

.third_container{
    text-align: center;
    width: 90%;
    margin: 130px auto auto;
}
    
}


@media (min-width: 1029px){

    .intro_section{
        padding-top: 4rem;
    }

    .first_container{
        width: 100%;
        min-height: 15px;
        background-color: #000;
        position: fixed;
    }

    .blog_pics{
        width: 30%;
        
    }

    .blog_link{
        display: block;
    }


    .list_item{
        text-align: center;
        padding: 0;
        width: 40%;
        left: 60%;
       top: -22px;
       margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #000;
         border: none;
    }

    .burger{
        display: none;
    }

    .item{
        color: #fff;
    }


    .intro_section{
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .test{
        width: 50%;
    }
    
    nav{
        width: 90%;
        display: flex;
        justify-content: space-between;
        padding: 11px 0;
        margin: 0 auto;
        align-items: center;
        background-color: #000;
        
    }
    
       .My_Blogs{
        width: 70%;
        padding-top: 40px;
        text-align: center;
        margin: 0 auto;
    }
    
    .main{
        display: flex;
        flex-direction: row;
    }
    
    /* form template */
    .form{
        text-align: center;
    }
    
    form{
        width: 90%;
        margin: 0 auto;
        background: transparent;
        box-shadow: 0 0 20px 0 #110;;
        padding-bottom: 30px;
    }
    
    .input-field{
        width: 600px;
        height: 40px;
        margin-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
        border: 1px solid #777;
        border-radius: 14px;
        outline: none;
    }
    
    .form_btn{
        margin-top: 20px;
    }
    
    
    .textarea-field{
        height: 150px;
        padding-top: 10px;
    }
    
    .social2{
        margin-top: 50px;
    }
    
    .social_icon{
        padding-right: 8px;
    }
    
    svg path{
        fill: #fff;
        transition: 100ms ease-in;
    }
    
    svg path:hover{
        fill: orange;
    }
    /* end of template */
    
    
    .fourth{
        width: 70%;
        text-align: center;
        margin: 0 auto;
     
    }
    
    .third_container{
        text-align: center;
        width: 90%;
        margin: 130px auto auto;
    }

ul.list{
        display: flex;
        width: 90%;
        margin: 30px auto;
        justify-content: space-between;
        align-items: center;
    }
}




.toggle .line1{
    transform: rotate(-45deg) translate(-4px, 6px);
}

.toggle .line2{
opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-4px,-6px);
}


/* end of breakpoints */